Context: {{ prompt.context }}
{% if prompt.instructions|length > 1 %}
    Follow the below instructions step-by-step for objective:
    {% for instruction in prompt.instructions -%}
        {{loop.index}}. {{ instruction }}
    {% endfor %}
{% endif %}

Examples:
{% for example in prompt.examples -%}
    {%- for k in example %}
        {{k}}: {{ example[k] }}
    {%- endfor %}
{% endfor %}

Task Difficulty: {{ prompt.constraints.difficulty }}
Reply in tone: {{ prompt.constraints.tone }}

Objective: {{ prompt.objective }}
